.App {
  text-align: center;
  padding-top: 20px;
}

.MovieList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.Movie{
  margin-bottom: 24px;
  width: 48%;
}